@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-agro: #17823B;
  --color-agro-dark: #12662e;
  --color-agro-light: #ecfdf3;
  --font-family-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
